<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Error - My Website</title>
    <link type="text/css" rel="stylesheet" href="/StyleSheet1.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="HomePage.html">Home</a></li>
                <li><a href="AboutPage.html">About</a></li>
                <li><a href="ContactPage.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><%= header %></h1>
        <p><%= message %></p>
     </main> 
</body>
</html>